section.home-1
	.container
		.item
			a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id consectetur tenetur harum optio? Tenetur quaerat illo voluptas error vero ullam temporibus a quos? Praesentium quia laudantium harum necessitatibus itaque cumque?