section.section.home-6
	.container
		.block-title
			h2 Công tác xã hội
	.content.border-top
		.container
			.row
				.col-xl-3
					.small-img
						.item
							figure
								.img
									img(src="./assets/images/index/i-10.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
						.item
							figure
								.img
									img(src="./assets/images/index/i-10.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
				.col-xl-6
					.big-img
						.item
							figure
								.img
									img(src="./assets/images/index/i-10.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
									a.btn.btn-detail(href="") Chi tiết
				.col-xl-3
					.small-img
						.item
							figure
								.img
									img(src="./assets/images/index/i-10.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
						.item
							figure
								.img
									img(src="./assets/images/index/i-10.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19