section.section.specialist
	.container
		.block-title
			h2 Chuyên khoa
		article
			.row
				.col-xl-3
					.nav-wrap
						.title
							h3 chuyên khoa
						nav.acnav(role='navigation')
							ul.acnav__list
								li.has-children
									.label.active
										p khoa lâm sàng
										span.material-icons keyboard_arrow_down
									ul.list-level2#list-child
										li.has-children
											.label.active
												span.material-icons keyboard_arrow_down
												a(href="javascript:;") Nhóm khoa hồi sức cấp cứu
											ul.list-level3#list-child
												li.active
													a(href="javascript:;") Khoa Phẫu thuật gây mê hồi sức
													
												li
													a(href="") Khoa Hồi sức cấp cứu
												li
													a(href="") Khoa Hồi sức ngoại thần kinh
												li
													a(href="") Khoa Chấn thương sọ não
												li
													a(href="") Khoa cấp cứu
								li.has-children
									.label.active
										p khoa cận lâm sàng
										span.material-icons keyboard_arrow_down
									ul.list-level2#list-child
										li.has-children
											.label.active
												span.material-icons keyboard_arrow_down
												a(href="javascript:;") Nhóm khoa hồi sức cấp cứu
											ul.list-level3#list-child
												li.active
													a(href="") Khoa Phẫu thuật gây mê hồi sức
													
												li
													a(href="") Khoa Hồi sức cấp cứu
												li
													a(href="") Khoa Hồi sức ngoại thần kinh
												li
													a(href="") Khoa Chấn thương sọ não
												li
													a(href="") Khoa cấp cứu
				.col-xl-9
					.specialist-title
						h3 Khoa cấp cứu
					.specialist-items
						.row
							-for(i=1; i<17; i++)
								.col-xl-3.col-md-4.col-lg-3.col-sm-6.col-6
									a(href="landingpage.html")
										.item
											span Khoa
											p Phẫu thuật - gây mê hồi sức


