section.section.news-detail
    .container
        .row
            .col-lg-12.col-xl-9
                h1.section-title Đội phản ứng nhanh phòng, chống dịch COVID-19 của Bệnh viện Chợ Rẫy tiếp tục thực hiện nhiệm vụ hỗ trợ tại Bệnh viện Bà Rịa
                .date-social
                    span.date Thứ tư, 17/06/2020
                    .social
                        a.social-tw(href="")
                            i.fab.fa-twitter
                        a.social-fb(href="")
                            i.fab.fa-facebook-f
                .content
                    b
                        strong Trước diễn biến mới của các ca nhiễm COVID-19 từ nước ngoài trở về và đang được cách ly, điều trị tại Bệnh viện Bà Rịa , thực hiện chỉ đạo của PGS TS Nguyễn Trường Sơn - Thứ trưởng Bộ Y tế - Trưởng Tiểu ban Điều trị, Ban Chỉ đạo Quốc gia phòng chống dịch COVID-19, ngày 23/06/2020, đội phản ứng nhanh của BV Chợ Rẫy đã lên đường đến Bệnh viện Bà Rịa hỗ trợ các đồng nghiệp.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    img(src="assets/news-detail/n-1.jpg", alt="").img
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    img(src="assets/news-detail/n-2.jpg", alt="").img
            .col-lg-12.col-xl-3
                .title-sidebar
                            | Tin tức khác
                ul.tintuc-sidebar
                    .row
                        li.col-lg-6.col-xl-12 
                            a(href="")   
                                .img
                                    img(src="assets/news-detail/ns-1.jpg", alt="")
                                .tintuc-text
                                    span.date Thứ tư, 17/06/2020
                                    h2.text Công bố Quyết định công nhận Ban chấp hành, Ban Thường vụ, Bí thư, Phó Bí thư Đảng Ủy, Ủy ban kiểm tra, Chủ nhiệm Ủy... ban kiểm tra Đảng ủy khóa XV, nhiệm kỳ 2020 - 2025
                        li.col-lg-6.col-xl-12 
                            a(href="") 
                                .img
                                    img(src="assets/news-detail/ns-2.png", alt="")
                                .tintuc-text
                                    span.date Thứ tư, 17/06/2020
                                    h2.text Giúp bệnh nhân ung thư tự tin và lạc quan
                        li.col-lg-6.col-xl-12 
                            a(href="") 
                                .img
                                    img(src="assets/news-detail/ns-3.jpg", alt="")
                                .tintuc-text
                                    span.date Thứ tư, 17/06/2020
                                    h2.text Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
                        li.col-lg-6.col-xl-12 
                            a(href="") 
                                .img
                                    img(src="assets/news-detail/ns-4.jpg", alt="")
                                .tintuc-text
                                    span.date Thứ tư, 17/06/2020
                                    h2.text Cơ quan Hợp tác Quốc tế Nhật Bản (JICA) thăm và làm việc tại BV Chợ Rẫy.
                        li.col-lg-6.col-xl-12 
                            a(href="") 
                                .img
                                    img(src="assets/news-detail/ns-2.png", alt="")
                                .tintuc-text
                                    span.date Thứ tư, 17/06/2020
                                    h2.text Giúp bệnh nhân ung thư tự tin và lạc quan
