section.section.about-1
	.container
		.row
			.col-xl-6.col-md-6
			.col-xl-6.col-md-6
				.block-title
					h2 Thư ngỏ Giám đốc
				.content
					.desc
						p Thưa Quý khách, Quý vị đối tác thân mến!
						p Lời đầu tiên, thay mặt Ban Lãnh đạo cùng toàn thể nhân viên bệnh viện Chợ Rẫy, tôi xin gửi đến Quý vị lời chào trân trọng, lời chúc mạnh khỏe, hạnh phúc và thành công. 
						p Kính thưa Quý vị! 
							br 
							|Bệnh viện Chợ Rẫy là bệnh viện hạng Đặc biệt trực thuộc Bộ Y tế, đảm nhiệm chức năng khám chữa bệnh, đào tạo và nghiên cứu khoa học. Bên cạnh đó, là bệnh viện tuyến cuối nên Chợ Rẫy còn có vai trò hỗ trợ điều trị cho các bệnh viện của khu vực phía Nam. Hiểu được vinh dự, trọng trách của mình, tập thể Đảng ủy, Ban Giám đốc cùng toàn thể nhân viên bệnh viện Chợ Rẫy đã không ngừng phấn đấu rèn luyện chuyên môn, nâng cao chất lượng phục vụ nhằm đem đến cho cộng đồng một dịch vụ chăm sóc sức khỏe chất lượng cao, ngang tầm với các nước trong khu vực. 

						p Năm 2020, bệnh viện Chợ Rẫy tròn 120 năm tuổi – đánh dấu một chặng đường dài của quá trình hình thành và phát triển. Với bao thế hệ nơi đây, 120 năm không đơn giản chỉ là khái niệm thời gian mà đó còn là dấu son của sự nỗ lực đổi mới và lời cam kết trong việc mang đến cho cộng đồng sự chăm sóc sức khỏe tận tâm và toàn diện. 

						p Với phương châm “Chữa mau lành bệnh – Hài lòng khách hàng”, chúng tôi tin rằng: trong tương lai, Bệnh viện Chợ Rẫy không chỉ là Đơn vị luôn ghi dấu ấn bởi những thành tựu nổi bật, góp phần thay đổi diện mạo nền Y tế nước nhà mà còn mãi mãi xứng đáng là Bệnh viện của “Chất lượng – Văn minh - Hiện đại – Nghĩa tình”.
						p Trân trọng!
section.section.about-2
	.container
		.block-title
			h2 Giới thiệu chung
		.desc-page
			p Bệnh viện Chợ Rẫy là bệnh viện hạng Đặc biệt trực thuộc Bộ Y tế, đảm nhiệm chức năng khám chữa bệnh, đào tạo và nghiên cứu khoa học.
		.row
			.col-xl-4.col-md-12
				.item
					.item-title
						em.ri-bookmark-3-fill
						p Trách nhiệm
					.desc
						p Bên cạnh đó, là bệnh viện tuyến cuối nên Chợ Rẫy còn có vai trò hỗ trợ điều trị cho các bệnh viện của khu vực phía Nam. Hiểu được vinh dự, trọng trách của mình, tập thể Đảng ủy, Ban Giám đốc cùng toàn thể nhân viên bệnh viện Chợ Rẫy đã không ngừng phấn đấu rèn luyện chuyên môn, nâng cao chất lượng phục vụ nhằm đem đến cho cộng đồng một dịch vụ chăm sóc sức khỏe chất lượng cao, ngang tầm với các nước trong khu vực. 
			.col-xl-4.col-md-6
				.item
					.img
						img(src="./assets/images/gio-thieu/a-2.png", alt="")
			.col-xl-4.col-md-6
				.item
					.item-title
						em.ri-hand-heart-fill
						p Tinh thần
					.desc
						p Năm 2020, bệnh viện Chợ Rẫy tròn 120 năm tuổi – đánh dấu một chặng đường dài của quá trình hình thành và phát triển. Với bao thế hệ nơi đây, 120 năm không đơn giản chỉ là khái niệm thời gian mà đó còn là dấu son của sự nỗ lực đổi mới và lời cam kết trong việc mang đến cho cộng đồng sự chăm sóc sức khỏe tận tâm và toàn diện. Với phương châm “Chữa mau lành bệnh – Hài lòng khách hàng”, chúng tôi tin rằng: trong tương lai, Bệnh viện Chợ Rẫy không chỉ là Đơn vị luôn ghi dấu ấn bởi những thành tựu nổi bật, góp phần thay đổi diện mạo nền Y tế nước nhà mà còn mãi mãi xứng đáng là Bệnh viện của “Chất lượng – Văn minh - Hiện đại – Nghĩa tình”.
section.section.about-3
	.container
		.block-title
			h2 Lịch sử phát triển
		.history-slide
			.swiper-container.slide-block
				.swiper-wrapper
					.swiper-slide
						.item
							.time
								span 1900
							.box-content
								p Thành lập với tên gọi 
								p “Hôpital Municipal de Cho Lon”
					.swiper-slide
						.item
							.time
								span 1919
							.box-content
								p Hôpital Indegene de 
								p Cochinchine
					.swiper-slide
						.item
							.time
								span 1938
							.box-content
								p Hôpital Indegene de 
								p Cochinchine
			.swiper-button-next
			.swiper-button-prev
section.section.about-4
	.container
		.row
			.col-xl-8
				.block-title
					h2 Tầm nhìn sứ mệnh
				.row
					.col-xl-6.col-lg-6
						.item
							.item-title
								p Sứ mệnh
							.desc
								p Khẳng định niềm tin về y đức “Thầy thuốc như mẹ hiền”. Góp phần đưa ngành y tế Việt Nam ngang tầm với các nước trong khu vực và quốc tế. Một trong những đơn vị tiên phong ứng dụng các phương pháp, kỹ thuật hiện đại của thế giới trong chẩn đoán và điều trị
					.col-xl-6.col-lg-6
						.item
							.item-title
								p Tầm nhìn
							.desc
								p Trở thành trung tâm chăm sóc sức khỏe hàng đầu của Việt Nam và khu vực
			.col-xl-4
				.img
					img(src="./assets/images/gio-thieu/a-3.png", alt="")
section.section.about-5
	.container
		.block-title
			h2 Giá trị cốt lõi
		.list-item
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-16.png", alt="")
					figcaption
						p hiện đại
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-17.png", alt="")
					figcaption
						p văn minh
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-18.png", alt="")
					figcaption
						p chất lượng
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-19.png", alt="")
					figcaption
						p nghĩa tình
section.section.about-6
	.container
		.block-title
			h2 Ban lãnh đạo
		.row
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-4.png", alt="")
					figcaption
						.desc
							h3 Giám đốc
							span Bí thư đảng uỷ
							p BS.CKII. Nguyễn Tri Thức
		.bottom
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-5.png", alt="")
					figcaption
						.desc
							h3 Giám đốc
							span Bí thư đảng uỷ
							p BS.CKII. Nguyễn Tri Thức
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-6.png", alt="")
					figcaption
						.desc
							h3 Giám đốc
							h4 Bí thư đảng uỷ
							p BS.CKII. Nguyễn Tri Thức
			.item
				figure
					.img
						img(src="./assets/images/gio-thieu/a-7.png", alt="")
					figcaption
						.desc
							h3 Giám đốc
							span Bí thư đảng uỷ
							p BS.CKII. Nguyễn Tri Thức
section.section.about-7
	.container
		.block-title
			h2 Nguồn nhân lục
			p Không ngừng sáng tạo – Phát triển bền vững
			p Giỏi chuyên môn – Vững nghiệp vụ
			p Tập thể đoàn kết – Phát huy truyền thống và y hiệu bệnh viện Chợ Rẫy
		.top
			.row
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
		.bottom
			.row
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
				.col-xl-3.col-lg-3.col-md-6.col-sm-6
					.item
						h3 Điều trị ngoại trú
						p 5.500
							span bệnh nhân/ngày
section.section.about-8
	.container
		.block-title
			h2 Thành tựu
		.row
			.col-xl-3.col-lg-3
				.item
					h3 Niềm vinh dự cao quý
			.col-xl-9.col-lg-9
				.slide-block#top
					.swiper-container.top-slide
						.swiper-wrapper
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
					.swiper-button-next
					.swiper-button-prev
		.row
			.col-xl-3.col-lg-3
				.item
					h3 Niềm vinh dự cao quý
			.col-xl-9.col-lg-9
				.slide-block#bottom
					.swiper-container.bottom-slide
						.swiper-wrapper
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/gio-thieu/a-8.png", alt="")
										figcaption
											.desc
												p Huân chương lao động hạng I (lần 2) năm 2016
					.swiper-button-next
					.swiper-button-prev
section.section.about-9
	.container
		.shape-block
			.block-title
				h2 Sơ đồ tổ chức
			img(src="./assets/images/gio-thieu/so do.png", alt="")





