section.section.hr-detail
    .container
        .row
            .col-lg-12.col-xl-9
                h1.section-title Điều dưỡng - Hộ sinh chăm sóc mẹ và bé
                .date-social
                    span.date 30.09.2020
                    .social
                        a.social-fb(href="")
                            i.fab.fa-facebook-f
                        a.social-tw(href="")
                            i.fab.fa-twitter
                .hr-1
                    table
                        tr
                            th Khu vực
                            td Quận 5, TP.HCM
                        tr
                            th Giới tính

                            td Nữ
                        tr
                            th Ngành nghề
                            td Y tế, Lao động phổ thông, Làm đẹp/Thể lực/Spa
                        tr
                            th Kinh nghiệm
                            td Không yêu cầu
                        tr
                            th Bằng cấp
                            td Trung cấp
                        tr
                            th Mức lương
                            td 8.000.000 - 15.000.000 VNĐ
                        tr
                            th Tính chất công việc
                            td Giờ hành chính
                        tr
                            th Hạn nộp hồ sơ
                            td 15.07.2020 - 30.07.2020
                    .hr-2
                        .title.t-4
                            img(src="assets/hr-detail/icon-b-1.png", alt="").icon
                            h2.text MÔ TẢ CÔNG VIỆC
                        ul
                            li 
                                | Chăm sóc và tư vấn, hỗ trợ, hướng dẫn người nhà cách chăm sóc bé sơ sinh.
                            li 
                                | Tắm bé sơ sinh, chăm sóc rốn bé sơ sinh, vệ sinh vết mổ sau sinh cho mẹ.
                            li
                                | Chăm sóc, xông hơ, massage, giúp thư giãn và phục hồi sức khỏe, lấy lại vóc dáng, làm đẹp cho phụ nữ sau sinh. 
                    .hr-2 
                        .title
                            span.material-icons
                                | check_box
                            h2.text YÊU CẦU
                        ul
                            li Tuổi: Từ 22 - 50
                            li Trung thực, siêng năng, chịu khó, có tâm với nghề, thực sự yêu thương trẻ em.
                            li KHÔNG YÊU CẦU KINH NGHIỆM (sẽ được đào tạo lại)
                            li Có bằng hoặc chứng nhận lớp trung cấp chuyên nghiệp, cao đẳng điều dưỡng, nữ hộ sinh, y tá trở lên.
                            li Cẩn thận, tỉ mỉ, yêu nghề, ham học hỏi
                            li Có phương tiện đi lại.
                            li Nhiệt tình, trung thực.
                            li Ưu tiên người đã có con.
                    .hr-2 
                        .title
                            span.material-icons
                                |   tag_faces
                            h2.text QUYỀN LỢI
                        ul
                            li Thu nhập từ 8.000.000 - 15.000.000 đồng
                            li Được đóng đầy đủ Bảo hiểm các loại (BHXH, BHTN, BHYT,...)
                            li Được đào tạo và thực tập có lương.
                            li Du lịch hằng năm
                            li Được công ty bảo vệ quyền lợi trước pháp luật khi làm việc tại gia đình khách hàng.
                            li Thưởng tháng 13, thưởng năng lực, thưởng thi đua, thưởng sáng kiến cải tiến.
                            li Phụ cấp tiền cơm, tiền xăng xe di chuyển theo quy định của công ty.
                            li Được mở đại lý dịch vụ dưới sự bảo trợ thương hiệu của công ty.
                            li Nghĩ phép 12 ngày / năm, du lịch cùng công ty.
                            li Đồng nghiệp: Đồng nghiệp thân thiện, hòa nhã, vui vẻ.
                            li Cơ hội huấn luyện: Huấn luyện chuyên môn nghiệp vụ .
                    .hr-2 
                        .title
                            span.material-icons
                                |   insert_drive_file
                            h2.text YÊU CẦU HỒ SƠ
                        ul
                            li Đơn xin việc có xác nhận của địa phương nơi lưu trú/tạm trú.
                            li Bản sao y công chứng hộ khẩu (tỉnh/thành phố).
                            li Bản xác nhận đăng kí tạm trú hoặc KT3 (NLĐ ở tỉnh khác đang tạm trú tại Tp.HCM do công an Phường xác nhận)
                            li Chứng minh nhân dân bản sao y (kèm bản chính để so sánh).
                            li Bằng cấp chuyên môn/chứng nhận tốt nghiệp: Hộ sinh/Y tá/Điều dưỡng.
                    .hr-3
                        p Nộp trực tiếp tại BỆNH VIỆN CHỢ RẪY
                        p 
                            b Địa chỉ: 
                            | 201B Nguyễn Chí Thanh, Phường 12, Quận 5, Hồ Chí Minh, Việt Nam 
                        p
                            b Điện thoại: 
                            | (84-028) 3855 4137 - (84-028) 3855 4138 
            .col-lg-12.col-xl-3
                .button-hr
                    button.ut
                        | Ứng tuyển
                    button.dow
                        | Tải form ứng tuyển
                .ttlh
                    .sidebar-title Thông tin liên hệ
                    ul 
                        li 
                            span.material-icons
                                |   location_on
                            |201B Nguyễn Chí Thanh, Phường 12, Quận 5, TP.HCM
                        li 
                            span.material-icons
                                |   call
                            |(84-028) 3855 4137
                        li 
                            span.material-icons
                                |   call
                            |(84-028) 3855 4137
                .vtk
                    .sidebar-title Vị trí khác
                    ul 
                        li 
                            p.text 
                                | Bác sĩ
                            span.date 
                                | 30.06.2020
                        li 
                            p.text 
                                | Chuyên viên chế độ chính sách
                            span.date 
                                | 30.06.2020
                        li 
                            p.text 
                                | Nhân viên kiểm toán nội bộ
                            span.date 
                                | 30.06.2020
                        li 
                            p.text 
                                | Bảo vệ
                            span.date 
                                | 30.06.2020