section.section.home-2
	.container
		.section-header
			.block-title
				h2 Tin thông báo
			.new-nav
				ul
					li
						a(href="") Thông báo chung
					li
						a(href="") Thông báo chung
					li
						a(href="") Thông báo chung
	.content.border-top
		.container
			.row
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item.border-0
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương