section.section.active-inner
	.container
		.block-title
			h2 Hoạt động đối ngoại
		.big-img
			.row
				.col-xl-6.col-lg-6.col-md-6
					a(href="tin-tuc-chi-tiet.html")
						.item
							figure
								.img
									img(src="./assets/images/active/26.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
				.col-xl-6.col-lg-6.col-md-6
					a(href="tin-tuc-chi-tiet.html")
						.item
							figure
								.img
									img(src="./assets/images/active/27.png", alt="")
								figcaption
									.date 17.06.2020
									.desc
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19 
		.small-img
			.row
				-for(i=1; i<9; i++)
					.col-xl-3.col-md-4.col-lg-3.col-sm-6
						a(href="tin-tuc-chi-tiet.html")
							.item
								figure
									.img
										img(src="./assets/images/active/"+i+".png", alt="")
									figcaption
										.date 17.06.2020
										.desc
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19 