<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="TrungTam.xslt" name="Danh sách trung tâm"></templatelist>
  <templatelist xsltname="TuyenDung.xslt" name="Danh sách tuyển dụng"></templatelist>
  <templatelist xsltname="HoatDongDanhSach.xslt" name="Danh sách hoạt động"></templatelist>
  
  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="TuyenDungDetail.xslt" name="Chi tuyển dụng"></templatedetail>

  <position>
    <add name="Tin tức nổi bật" value="1" resourcefile="" />
    <add name="Hoạt động bệnh viện" value="2" resourcefile="" />
    <add name="Thông báo chiêu sinh" value="4" resourcefile="" />
    <add name="List banner" value="8" resourcefile="" />
  </position>
</templates>