section.pages-tuyendung
	.container
		.block-title.text-center
			h2  Tuyển dụng
		.tuyendung-introduce 
			.row 
				.col-lg-12.col-xl-6.pr-0 
					.introduce-img 
						img(src="./assets/images/index/introduce.png", alt="")
				.col-lg-12.col-xl-6.pl-0 
					.introduce-content
						.introduce-scroll
							p.section-content Bệnh viện Chợ Rẫy là bệnh viện hạng Đặc biệt trực thuộc Bộ Y tế, đảm nhiệm chức năng khám chữa bệnh, đào tạo và nghiên cứu khoa học. Bên cạnh đó, là bệnh viện tuyến cuối nên Chợ Rẫy còn có vai trò hỗ trợ điều trị cho các bệnh viện của khu vực phía Nam. Hiểu được vinh dự, trọng trách của mình, tập thể Đảng ủy, Ban Giám đốc cùng toàn thể nhân viên bệnh viện Chợ Rẫy đã không ngừng phấn đấu rèn luyện chuyên môn, nâng cao chất lượng phục vụ nhằm đem đến cho cộng đồng một dịch vụ chăm sóc sức khỏe chất lượng cao, ngang tầm với các nước trong khu vực.

							p.section-content Năm 2020, bệnh viện Chợ Rẫy tròn 120 năm tuổi – đánh dấu một chặng đường dài của quá trình hình thành và phát triển. Với bao thế hệ nơi đây, 120 năm không đơn giản chỉ là khái niệm thời gian mà đó còn là dấu son của sự nỗ lực đổi mới và lời cam kết trong việc mang đến cho cộng đồng sự chăm sóc sức khỏe tận tâm và toàn diện.
							p.section-content Với phương châm “Chữa mau lành bệnh – Hài lòng khách hàng”, chúng tôi tin rằng: trong tương lai, Bệnh viện Chợ Rẫy không chỉ là Đơn vị luôn ghi dấu ấn bởi những thành tựu nổi bật, góp phần thay đổi diện mạo nền Y tế nước nhà mà còn mãi mãi xứng đáng là Bệnh viện của “Chất lượng – Văn minh - Hiện đại – Nghĩa tình”.

section.tuyendung-position
	.container
		.block-title.text-center
			h2  Vị trí làm việc
		.tuyendung-ps-table 
			table 
				thead
					tr 
						th STT
						th Vị trí tuyển dụng 
						th Số lượng 
						th Địa điểm 
						th.text-right Hạn nộp
				tbody
					- for (i=1; i<9; i++)
						tr 
							td 1 
							td
								h1 Bác sĩ
							td 02 
							td Quận 5, TP.HCM
							td.text-right 30.09.2020
		.tuyendung-ps-box 
			.row 
				.col-md-6.col-12 
					.tuyendung-section 
						
.pages.mb-80
	.modulepager
		ul.pagination
			li.active
				a(href="#") 1
			li
				a(href="#") 2
			li
				a(href="#") 3