extends ../_components/_layout/_layout.pug

block var
	- let title = 'TRANG CHỦ';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Trang Chu'];
block banner,breadcrumb
block main
	include ../_components/banner/homebanner.pug
	include ../_components/index/i1-i3/i-1.pug
	include ../_components/index/i1-i3/i-2.pug
	include ../_components/index/i1-i3/i-3.pug
	include ../_components/index/i4-i6/i-4.pug
	include ../_components/index/i4-i6/i-5.pug
	include ../_components/index/i4-i6/i-6.pug
	include ../_components/index/i7-i9/i-7.pug
	include ../_components/index/i7-i9/i-8.pug
	include ../_components/index/i7-i9/i-9.pug
block scripts
