extends ../_components/_layout/_layout.pug

block var
	- let title = 'Tuyển dụng chi tiết';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Trang Chu'];
block banner,breadcrumb
block main
	include ../_components/_layout/_breadcrumb.pug
	include ../_components/tuyen-dung-chi-tiet/hr-detail.pug
block scripts