section.section.cr-contact
	.container
		.block-title.text-uppercase.text-center
			h2 liên hệ
		.row
			.col-xl-5.col-md-6
				.infor
					div
						.infor__logo
							img(src="./assets/logo.png" alt="")
						.infor__address
							ul
								li
									span
										i.ri-map-pin-5-line
									p 201B Nguyễn Chí Thanh, Phường 12, Quận 5, Thành phố Hồ Chí Minh 
								li
									span
										i.ri-phone-line
									p (84-028) 38554137 - (84-028) 38554138 
								li
									span
										i.ri-printer-line
									p (84-028) 38557267
								li 
									span
										i.ri-mail-line
									p truyenthong@bvchoray.com
			.col-xl-7.col-md-6
				.box-form
					.form-row
						.form-group.col-xl-6
							input(type='text' placeholder='Họ tên')
						.form-group.col-xl-6
							input(type='text' placeholder='Số điện thoại')
					.form-row
						.form-group.col-xl-6
							input(type='text' placeholder='Email')
						.form-group.col-xl-6
							input(type='text' placeholder='Địa chỉ')
					.form-group
							input(type='text' placeholder='Tiêu đề')
					.form-group
							textarea(cols="30", rows="5" placeholder='Nội dung')
					.form-group.frm-btnwrap
						.frm-btn
							input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
							em.material-icons arrow_right_alt

section.section.map
	.container
		.map-wrapper
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.707076818153!2d106.65754181526023!3d10.757043762491541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef1efebf7d7%3A0x9014ce53b8910a58!2sCho%20Ray%20Hospital!5e0!3m2!1sen!2s!4v1600228274817!5m2!1sen!2s', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')


