section.section.cental
	.container
		.block-title
			h2 Trung tâm
		.cental-list
			-for(i=1; i<7; i++)
				.cental-item
					.row
						.col-xl-6.col-md-6.left
							.img
								img(src="./assets/images/cental/tt-"+i+".png", alt="")
						.col-xl-6.col-md-6.right
							.desc
								h3 Trung Tâm DI & ADR
								p 
									strong Chức năng nhiệm vụ
								p Là cơ quan thường trực của Hội đồng Giám định Y khoa Trung ương III, có chức năng khám Giám định và khám giám định phúc quyết cho các đối tượng giám định thuộc các tỉnh, thành phố trực thuộc Trung ương sau:
								.box-btn
									a.btn.btn__viewmore(href="") Xem thêm
										.icon
											img(src="./assets/icons/doingu_ct.png", alt="")
									a.btn.btn__popup(href="", data-toggle="modal", data-target="#popupTT")
										span Xem trang web
										em.material-icons arrow_right_alt
					// Modal
					#popupTT.modal.fade(tabindex='-1', role='dialog')
						.modal-dialog.modal-dialog-centered.container(role='document')
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal', aria-label='Close')
										span(aria-hidden='true') ×
								.modal-body 
									.row
										.col-xl-5.col-md-6.left
											.img
												img(src="./assets/images/cental/tt-1.png", alt="")
										.col-xl-7.col-md-6.right
											.desc
												h3 Trung Tâm DI & ADR
												p 
													strong Chức năng nhiệm vụ
												p Hoạt động dưới sự chỉ đạo và giám sát về lĩnh vực DI & ADR của Trung tâm DI & ADR Quốc gia; 
												p Kiểm tra, thẩm định, phân tích, lập và quản lý báo cáo về an toàn thuốc & cảnh giác Dược từ Đà Nẵng trở vào, chuyển đến Trung tâm DI&ADR Quốc gia để tổng hợp thành bộ cơ sở dữ liệu về cảnh giác dược của Việt Nam Tổ chức các khóa đào tạo, tập huấn về an toàn thuốc và cảnh giác dược; Thành lập thành viên đầu mối quản lý các cơ sở y tế về các hoạt động có liên quan đến an toàn thuốc và cảnh giác dược; Phối hợp với Trung tâm DI & ADR quốc gia triển khai các nghiên cứu khoa học, dự án về thông tin thuốc và cảnh giác dược trên phạm vi toàn quốc. Chỉ đạo tuyến: Phối hợp với Trung tâm DI&ADR Quốc gia chỉ đạo, hướng dẫn chuyên môn; kiểm tra, giám sát hoạt động về thông tin thuốc và cảnh giác dược. Hợp tác quốc tế: Phối hợp với Trung tâm DI & ADR Quốc gia trong việc hợp tác với các tổ chức quốc tế, các nước trong khu vực và trên thế giới về lĩnh vực thông tin thuốc và cảnh giác dược;. Tư vấn, dịch vụ: Tư vấn về thông tin thuốc cho các cơ sở y tế, doanh nghiệp và cộng đồng về thông tin thuốc và ADR theo yêu cầu và đơn đặt hàng của các tổ chức, cá nhân trong và ngoài nước. Thực hiện chế độ báo cáo khẩn cấp, định kỳ, giao ban công tác với Trung tâm DI&ADR Quốc gia, đơn vị khác trong hệ thống DI và ADR Quốc gia; Định hướng phát triển Là 1 trong những trung tâm hàng đầu của cả nước và khu vực về thông tin thuốc và theo dõi phản ứng có hại của thuốc. Nâng cao hiệu quả chăm sóc và đảm bảo an toàn cho bệnh nhân trong quá trình sử dụng thuốc Góp phần đánh giá lợi ích, nguy cơ, hiệu quả và tính an toàn của thuốc nhằm ngăn ngừa, giảm thiểu nguy cơ và tối đa hóa lợi ích của thuốc. Khuyến khích sử dụng thuốc an toàn, hợp lý và có hiệu quả Thúc đẩy nhận thức, giáo dục và đào tạo lâm sàng trong Cảnh giác dược, truyền thông có hiệu quả đến cộng đồng

