section.pages-tintuc
	.container
		.block-title.text-center
			h2  Tin tức
		.row 
			- for (i=1; i<9; i++)
				.col-xl-3.col-lg-4.col-sm-6.col-12
					.tintuc-box 
						.tintuc-img
							img(src="./assets/images/index/i-1.png", alt="")
						.tintuc-content 
							p.section-date Thứ tư, 17/06/2020
							a(href="tin-tuc-chi-tiet.html")
								h1.section-title.lcl.lcl-4 Cơ quan Hợp tác Quốc tế Nhật Bản (JICA) thăm và làm việc tại BV Chợ Rẫy
.pages.mb-80
	.modulepager
		ul.pagination
			li.active
				a(href="#") 1
			li
				a(href="#") 2
			li
				a(href="#") 3