<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Trang chủ - sản phẩm" value="1" resourcefile="" />
	<add name="Trang chủ - sản phẩm 2" value="2" resourcefile="" />
  </position>
  <templatelist xsltname="ProductList.xslt" name="Danh sách bác sĩ" />
  <templatedetail xsltname="ProductDetail.xslt" name="Đội ngũ bác sĩ chi tiết"/>
</templates>