<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <position>
    <add name="Menu chính" value="1" resourcefile=""/>
    <add name="Menu footer" value="2" resourcefile=""/>
    <add name="Menu Left" value="4" resourcefile=""/>
    <add name="Menu tin thông báo" value="8" resourcefile=""/>
    <add name="Công tác xã hội" value="16" resourcefile=""/>
    <add name="Thông báo chiêu sinh" value="32" resourcefile=""/>
    <add name="Các trung tâm" value="64" resourcefile=""/>
    <add name="Đào tạo nghiên cứu" value="128" resourcefile=""/>
    <add name="Hoạt động đoàn thể" value="256" resourcefile=""/>
    <add name="Website liên kết" value="512" resourcefile=""/>
    <add name="Menu chuyên khoa" value="1024" resourcefile=""/>
    <add name="Danh sách khoa" value="2048" resourcefile=""/>
    <add name="Hoạt động" value="4096" resourcefile=""/>
    <add name="Hoạt động danh sách" value="8192" resourcefile=""/>
    <add name="Footer menu" value="16384" resourcefile=""/>
    <add name="Footer menu 2" value="32768" resourcefile=""/>
    <add name="Footer menu 3" value="65536" resourcefile=""/>
  </position>
</settings>