section.section.cr-doctor
	.container
		.block-title
			h2 Đội ngũ bác sĩ
		.desc
			p Tại Chợ Rẫy, chúng tôi chú trọng xây dựng và phát triển đội ngũ bác sĩ có trình độ chuyên môn cao, giàu kinh nghiệm, chuyên nghiệp, tận tình, thân thiện. Các bác sĩ của chúng tôi là những người có nhiều năm kinh nghiệm làm việc trong môi trường quốc tế, được đào tạo ở nước ngoài, đứng đầu các khoa là các chuyên gia đầu ngành, Giáo sư, Phó Giáo sư, Tiến sĩ có hơn 20 năm kinh nghiệm trong ngành y tế.Đến với Bệnh viện Chợ Rẫy, bệnh nhân sẽ được các bác sĩ cung cấp đầy đủ thông tin về tình trạng sức khoẻ, các biện pháp điều trị và hỗ trợ sau điều trị hiệu quả.
		article
			.row
				.col-xl-3
					.nav-wrap
						.title
							h3 chuyên khoa
						nav.acnav(role='navigation')
							ul.acnav__list
								li.has-children
									.label.active
										p khoa lâm sàng
										span.material-icons keyboard_arrow_down
									ul.list-level2
										li
											.label.active
												span.material-icons keyboard_arrow_down
												a(href="") Nhóm khoa hồi sức cấp cứu
											ul.list-level3
												li.active
													a(href="") Khoa Phẫu thuật gây mê hồi sức
													
												li
													a(href="") Khoa Hồi sức cấp cứu
												li
													a(href="") Khoa Hồi sức ngoại thần kinh
												li
													a(href="") Khoa Chấn thương sọ não
												li
													a(href="") Khoa cấp cứu
								li.has-children
									.label.active
										p khoa cận vlâm sàng
										span.material-icons keyboard_arrow_down
									ul.list-level2
										li
											.label.active
												span.material-icons keyboard_arrow_down
												a(href="") Nhóm khoa hồi sức cấp cứu
											ul.list-level3
												li.active
													a(href="") Khoa Phẫu thuật gây mê hồi sức
													
												li
													a(href="") Khoa Hồi sức cấp cứu
												li
													a(href="") Khoa Hồi sức ngoại thần kinh
												li
													a(href="") Khoa Chấn thương sọ não
												li
													a(href="") Khoa cấp cứu
					.nav-wrap
						.title
							h3 gói khám
						nav.acnav
							ul.acnav__list
								li.nav-item
									a(href="") gói cơ bản
								li.nav-item
									a(href="") gói a1
								li.nav-item
									a(href="") gói a2
								li.nav-item
									a(href="") gói a3
								li.nav-item
									a(href="") gói a4
				.col-xl-9
					.acnav__label
						| khoa cấp cứu
					-for(i=1; i<7; i++)
						.item
							figure
								.img
									img(src="./assets/images/doctor/doctor-"+i+".png", alt="")
								figcaption
									.name
										a(href="") bs.võ mỹ hương
										p 24 nhận xét
									.desc
										p Bác sĩ cấp cứu
										p 14 năm kinh nghiệm công tác tại bệnh viện Nhi đồng 1
									.detail
										a(href="") Xem chi tiết
										a.btn(href="")
											span.material-icons event_available
											|đặt lịch



